body {
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
}
.title{
  display:flex;
  justify-content: center;
  border: 20px solid;
}
.Question{
  display: flex;
  justify-content: center;
  font-size:70px;
}